.NavBar{
    padding: 1em;
}

.NavBarBckground {
    background-image: url(https://i.imgur.com/nIaNvCh.jpeg);
    background-position:center;
    background-attachment: fixed;
    background-size: 100vh;
}

.NavBar-link{
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    font-weight: 800;
}

.outlined{
    color: white;
    text-shadow:
      -1px -1px 0 rgb(130, 130, 130),
       0   -1px 0 rgb(130, 130, 130),
       1px -1px 0 rgb(130, 130, 130),
       1px  0   0 rgb(130, 130, 130),
       1px  1px 0 rgb(130, 130, 130),
       0    1px 0 rgb(130, 130, 130),
      -1px  1px 0 rgb(130, 130, 130),
      -1px  0   0 rgb(130, 130, 130);
  }